body {
    background-color: rgba(255, 1, 1, 0.481);
    text-align: center;
}

.disable-double-tap-zoom {
    touch-action: manipulation;
}

#playBtn {
    font-size: 75px;
    padding: 5px 25px;
    /* margin: 10px; */
    cursor: pointer;
}

#skipBtn {
    font-size: 75px;
    padding: 5px 25px;
    /* margin: 10px; */
    cursor: pointer;
}

#easyBtn {
    font-size: 35px;
    padding: 5px 25px;
    /* margin: 10px; */
    cursor: pointer;
}

#hardBtn {
    font-size: 35px;
    padding: 5px 25px;
    /* margin: 10px; */
    cursor: pointer;
}