body {
    background-color: rgb(111, 188, 111);
    text-align: center;
}

#gameStart {
    background-color: aquamarine;
    border-radius: 12px;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}