body {
    background-color: rgb(111, 188, 111);
    text-align: center;
}

#gameStart {
    background-color: aquamarine;
    border-radius: 12px;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

#dataScoreTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
    border-collapse: collapse;
}

#dataScoreTable th {
    border: 1px solid black;
}

#dataScoreTable td {
    text-align: center;
    border-right: 1px solid black;
}