body {
    background-color: rgb(253, 170, 184);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#start {
    background-color: aquamarine;
    border-radius: 12px;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}